<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Ajout d'un livraison</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />

</head>
<body>
    <form method="POST" action="ajoutcompte.php">
<div class="col-md-6">
    <div class="panel panel-default">
    <div class="panel-heading">
       Ajouter une livraison
    </div>
    <div class="panel-body">
            <form role="form">
                    <div class="form-group has-success">
                        <label class="control-label" for="success">Saisir le idclient</label>
                        <input type="text" class="form-control" id="success" name="id"/>
                    </div>
                    <div class="form-group has-warning">
                        <label class="control-label" for="warning">username</label>
                        <input type="text" class="form-control" id="warning" name="username"/>
                    </div>
                    <div class="form-group has-error">
                        <label class="control-label" for="error">saisir le nom</label>
                        <input type="text" class="form-control" id="error" name="nom"/>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label" for="success">Saisir le prenom</label>
                        <input type="text" class="form-control" id="success" name="prenom"/>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label" for="success">Saisir le pasword</label>
                        <input type="text" class="form-control" id="success" name="pasword"/>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label" for="success">Saisir le numero du telephone</label>
                        <input type="number" class="form-control" id="success" name="numero"/>
                    </div>
					<div class="form-group has-success">
                        <label class="control-label" for="success">Saisir l'email </label>
                        <input type="text" class="form-control" id="success" name="email"/>
                    </div>
                    <div class="form-group has-success">
                        <label class="control-label" for="success">image </label>
                        <input type="file" class="form-control" id="success" name="image"/>
                    </div>
					
                </form>

                    <input type="submit" name="ajouter" value="ajouter">
                </form>

        </body>
        </html>