<!DOCTYPE html>

<html lang="en">
    <head>
        <title>negra</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/stylehome.css">

        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
        
      </head>
      <body>

       
        
        <nav id="mynav"  class="navbar navbar-inverse  navbar-fixed-top col-md-12"  >
            <div class="container-fluid" >
              <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                </button>
                <a  class="navbar-brand"  href="#"  style="color:black" >GALAXY-Design</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar" >
                <ul class="nav navbar-nav " style="padding-left:350px;">
                  <li  class="home active" class="text-center"><a href="#home">Home</a></li>
                  <li class="pull-right" ><a    href="#"style="color:black;" data-toggle="modal" data-target="#myModal">Shop</a></li>
                  <li ><a id="aboutus " href="#about" style="color:black;">about </a></li>  
                  <li ><a href="#contact"  style="color:black;">contact </a></li>     
   
               </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li><a  id="sign-up"href="ajoutcompte.html"   ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a id="sign-up"href="#" type="button"  data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-user"></span> admin </a></li>

                    <li><a  id="sign-up"href="login.html"   ><span class="glyphicon glyphicon-user"></span> login</a></li>

                  
                    <!--njareb fi faza-->
                   
                      
                          <!--<div class="container" style="background-color:#f1f1f1">
                            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                            <span class="psw">Forgot <a href="#">password?</a></span>
                          </div>-->
                        </form>
                      
                   
                      
                      
                      
                </div>
                  
                <!--kamalet el faza -->
                </ul>
              </div>
            </div>
          </nav>

          <!-- njareb fi faza !-->
          <div  id="home"="container-fluid">
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                  </ol>
              
                  <!-- Wrapper for slides -->
                  <div class="container">
                  <div class="carousel-inner">
                    <div class="item active">
                      
                      <img src="res/12985340_625366490950776_2775537546178977476_n.jpg"  style="width:100%; height: 15cm">
                    </div>
              
                    <div class="item">
                      <img src="res/10428571_479155432218036_9219956939038654906_n.jpg"  style="width:100%; height: 15cm" >
                    </div>
                  
                    <div class="item">
                      <img src="res/1912384_588009317958082_378832526_n.jpg"  style="width:100%; height: 15cm" >

                    </div>

                  </div>
                  <a href="page2.html">


                  <button class="btn" >  Shop now  </button>
                </a>


                </div>
              
                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
              </div>
          
        
          <!-- kamalet el faza  faza !-->
          <div class="box2">

          
            <div id="img"class="text-center">
                
                <div  id="about" class="container"  >    
                  <h1 data-aos="zoom-in-left"style="font-size:700; display:inline;">GALAXY </h1>   
                  <h2 data-aos="zoom-in-down"style="display:inline;">-</h2>
                  <h1 data-aos="zoom-in-right" style="display:inline;">Design</h1>
                  <br> <br> <br> <br>
                    <h1>QUI-SOMMES NOUS</h1>
                    <p data-aos="fade-down-right">
                        GALAXY CERAMICS est une marque leader, dans la production et la distribution de carreaux céramiques pour les revêtements de sol, de mur et de grès cérame. Soucieuse de satisfaire toutes les exigences d’une clientèle internationale , alliée à la technologie la plus avancée et à l’étude continue des tendances de l’esthétique et du design à l’avant-garde. Depuis sa création en 1988, GALAXY CERAMICS se distingue sur la scène industrielle par sa politique d’investissement prépondérante et inlassable et propose une panoplie de produits innovants diversifiés (carreau céramique, grès cérame, briques, carreaux extrudés, béton cellulaire) qui contribuent au développement du schéma de la construction en Tunisie.</p>
                  
            </div>
           
          </div>
          <div class="box" >
           <h1  id="who2" class="text-center">    NOS PRODUITS
            </h1>
            <div data-aos="zoom-in-right" >
              <h1 class="text-center" id="text">
                CARTHAGO CERAMIC naît en 1988 comme producteur spécialisé dans le secteur du revêtement et du pavement en céramique. Gràce à une série d'acquisitions stratégiques et spécifiques, la marque CARTHAGO CERAMIC parvient également à se distinguer au niveau de la production de carreaux en grès cérame avec des articles bien identifiables, misant sur l'esthétique et sur la qualité et en mesure de satisfaire, voire d'anticiper, les tendances du marché.            </h1>
                <div data-aos="zoom-in-right" class="col-md-6"><img  id="img4" src="res/pic4.jpg"  width="304" height="236"> </div>
                <div data-aos="flip-left" class="col-md-6"> <img id="img5" src="res/pic5.jpg"  width="304" height="236"> </div>
                 <div data-aos="flip-right"class="col-md-6"> <img id="img6" src="res/pic6.jpg"  width="304" height="236"> </div>
                 <div data-aos="flip-left"class="col-md-6">  <img id="img7" src="res/pic7.jpg"  width="304" height="236"> </div>
              </div>
           
             



          </div>
          <hr class="between-sections ">
          <div id="contact"class="box3">
              <div id="map" class="col-md-8" data-aos="zoom-in-right" style="width:50%;height:700px; margin-left:100px;"></div>
    <script >
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 36.43769, lng: 10.7103},
          zoom: 15
        });
      }
    </script>
  
  
    <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYzXj5wF4L6mChyyc5xwfb2QT1QEZ9VN8&callback=initMap"
    async defer></script>
    
    <div data-aos="zoom-out-up">
    <p class='fa fa-map-marker fa-2x' class="text-center" style="margin-left:260px;" >    <p class="text-center" style="text-decoration: underline;" >address</p>
  </p>
    <p class="text-center" >Avenue de l'enironnement, 8000 Nabeul, Tunisia
    </p>
    
   
        <p class="fa fa-phone fa-2x" style="margin-left:260px;" ></p>
        <br>
        <p class="text-center" style="text-decoration: underline;">  Numéro de téléphone</p>
        <p class="fa fa-phone fa-2x" style="margin-left:260px;"></p>
        <br>
        <p class="text-center" style="text-decoration: underline;">Numéro de fax</p>
        <p class="fa fa-envelope fa-2x" style="margin-left:260px;"></p>
        <br>
   <p class="text-center" style="text-decoration: underline;">Email</p>
  </div>
          </div>
          <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
   <!-- modal!-->
   <form action="verification.php" method="POST">
          
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
         


          <h3 > PLEASE LOGIN TO ENTER </h3>
          <hr>
          <p style="display:inline-block; "> new user?</p>
          <a  style="display:inline-block" type="button" data-toggle="modal" data-target="#myModal2"> sign-up</a>
          <hr>
          <button type="button" class="btn btn-md btn-fb" style= "background-color:#3F729B ;color:white"><i class="fab fa-facebook-f pr-1"></i> Facebook</button>
         <i><strong>or</strong></i>
          <button type="button" class="btn btn-gplus" style= "background-color:#dd4b39 ;color:white"><i class="fab fa-google-plus-g"> Gmail</i></button>

          <hr>
          <h5> or login with <strong>GALAXY-Design </strong>account </h5>
          <div>
            <div class="md-form input-group mb-3">
              <div class="input-group-prepend">
              </div>
              <input type="text" id="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="material-addon1">
              <input type="password" id="mdp"class="form-control" placeholder="mot de passe " aria-describedby="material-addon1">
           
            </div>
  
  </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="button" value="connexion" onclick="admin()">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="admin()">open</button>

        </div>
     
      </div>
    </div>
  </div>
  </div>
</form>

  <!-- wfe el modal !-->
     <!-- modal2!-->
    
   <!--  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="box4" style="color:black">

<center>

    <input type="text" name="id" placeholder=" id">  
    <br> <br>                   
    <input type="text" name="username" placeholder=" username">                     
<br> <br>
              <input type="text"  name="nom" id="firstName" placeholder=" first name">                     

              <br> <br>
              <input type="text" id="lastName" name="prenom" placeholder=" last Name">
              
                <br> <br>
                <input type="password" id="password" name="pasword"placeholder="password">

                  <br> <br>
                    <input type="number" id="phoneNumber" name"numero" placeholder="phone number"> 

                    <br> <br>
                    <input type="email" id="email" name="email" placeholder="email">  
                      <br> <br> 
                      <br> <br> <br>
                    
                  <center>                       <input type="submit" name="ajouter" value="ajouter">
                  </center>
                      <br> <br>
                    </center>

                    </div>
        </div>
      </div>
    </div>
    </div>
  <

    <!-- wfe el modal2 !-->
  



      </body>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <script src="jshome.js"></script>

</html>